<div class="container-fluid">
  <div class="col-6 offset-3">
    <h4 class="text-center">Thông tin sinh viên</h4>
    <form [formGroup]="this.studentForm">
      <div class="form-group">
        <label for="">User name</label>
        <input type="text" formControlName="username" class="form-control" />
        <div
          *ngIf="
            studentForm.controls['username'].errors &&
            (studentForm.controls['username'].touched ||
              studentForm.controls['username'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['username'].hasError('required')"
            >Hãy nhập tên đăng nhập của bạn!</span
          >
        </div>
      </div>

      <div class="form-group">
        <label for="">Full name</label>
        <input type="text" formControlName="fullname" class="form-control" />
        <div
          *ngIf="
            studentForm.controls['fullname'].errors &&
            (studentForm.controls['fullname'].touched ||
              studentForm.controls['fullname'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['fullname'].hasError('required')"
            >Hãy nhập họ tên của bạn!</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
        />
        <div
          *ngIf="
            studentForm.controls['password'].errors &&
            (studentForm.controls['password'].touched ||
              studentForm.controls['password'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['password'].hasError('required')"
            >Hãy nhập mật khẩu!</span
          >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['password'].hasError('minlength')"
            >Mật khẩu ít nhất 6 ký tự!</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="">Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          class="form-control"
        />
        <div
          *ngIf="
            studentForm.controls['confirmPassword'].errors &&
            (studentForm.controls['confirmPassword'].touched ||
              studentForm.controls['confirmPassword'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['confirmPassword'].hasError('required')"
            >Hãy nhập xác nhận mật khẩu</span
          >
          <span
            class="text-danger"
            *ngIf="
              studentForm.controls['confirmPassword'].hasError(
                'matchConfirmPassword'
              )
            "
            >Xác nhận mật khẩu chưa khớp!</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" formControlName="email" class="form-control" />
        <div
          *ngIf="
            studentForm.controls['email'].errors &&
            (studentForm.controls['email'].touched ||
              studentForm.controls['email'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['email'].hasError('required')"
            >Hãy nhập email!</span
          >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['email'].hasError('email')"
            >Không đúng định dạng email!</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="">Gender</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            formControlName="gender"
            value="true"
          />
          <label class="form-check-label" for="flexRadioDefault1">
            Nữ
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            formControlName="gender"
            checked
            value="false"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Nam
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="">Birth Date</label>
        <input type="date" formControlName="birthday" class="form-control" />
        
      </div>
      <div class="form-group">
        <label for="">School fee</label>
        <input type="text" formControlName="schoolfee" class="form-control" />
        <div
          *ngIf="
            studentForm.controls['schoolfee'].errors &&
            (studentForm.controls['schoolfee'].touched ||
              studentForm.controls['schoolfee'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['schoolfee'].hasError('required')"
            >Hãy nhập học phí</span
          >
        </div>
      </div>
      <div class="form-group">
        <label for="">marks</label>
        <input type="text" formControlName="marks" class="form-control" />
        <div
          *ngIf="
            studentForm.controls['marks'].errors &&
            (studentForm.controls['marks'].touched ||
              studentForm.controls['marks'].dirty)
          "
        >
          <span
            class="text-danger"
            *ngIf="studentForm.controls['marks'].hasError('required')"
            >Hãy nhập điểm</span
          >
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button (click)="submitForm()" class="btn btn-outline-success">Lưu</button>
      </div>
    </form>
  </div>
</div>
