<div class="mt-5 p-5">
  <button routerLink="/admin/sinh-vien/add" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i> Add</button>
  
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Fullname</th>
      <th scope="col">GoogleId</th>
      <th scope="col">Email</th>
      <th scope="col">Avatar</th>
      <th scope="col">Mark</th>
      <th scope="col">Manipulation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of listOfStudent; index as i">
      <th scope="col">{{ i }}</th>
      <td>{{ s.name }}</td>
      <td>{{ s.firstName }}</td>
      <td>{{ s.googleId }}</td>
      <td>{{ s.email }}</td>
      <td><img [src]="s.avatar" width="60px" height="60px" alt=""></td>
      <td>{{ s.marks | json }}</td>
      <td> 
        <button nz-button nzType="primary" nzDanger (click)="onRemove(s)" class="btn btn-danger" style="margin-right: 12px;"><i class="bi bi-trash"></i></button>
        <button  nz-button nzType="primary" (click)="onUpdate(s.id)" class="btn btn-warning"> <i class="bi bi-pencil"></i></button>
      </td>
    </tr>
  </tbody>
</table>
